.container-fluid {
  height: 30%;
  width: 55%;
}
<<<<<<< HEAD
=======

.modal-header {

}
>>>>>>> f22abbfec42b7c0a460497aa3c3e0de4dd9474b5

.modal-dialog {
  width: 1200px;
  height: 1200px;
}

.modal-body {
<<<<<<< HEAD
 height: 100vh;
  width:500px;

}

.modal-body  p {
 margin: 100px;
=======
  display: block;
>>>>>>> f22abbfec42b7c0a460497aa3c3e0de4dd9474b5
}

.modal {
  height: 5000vh;
}

.img-fluid {
  margin: 15px;
  height: 550px;
}

p {
  float: random($limit: 5);
  margin: 15px;
}

input {
  height: 50px;
}

video {
  margin: 15px;
  height: 230px;
}



