.container-fluid {
  height: 30%;
  width: 55%;
}
.modal-header {

}

.modal-dialog {
  width: 1200px;
  height: 1200px;
}

.modal-body {
 width: 200px;
  display: block;
}

.modal {
  height: 5000vh;
}


input {
  height: 50px;
}

.modal-dialog {
  height: 1200px;
}

