.container-fluid {
  height: 30%;
  width: 55%;
}

.modal-header {

}

.modal-dialog {
  width: 1200px;
  height: 1200px;
}

.modal-body {
 height: 100vh;
  width:500px;

}

.modal-body  p {
 margin: 100px;
  display: block;
}

.modal {
  height: 5000vh;
}

.img-fluid {
  margin: 55px;
  height: 350px;
}

p {
  float: random($limit: 5);
  margin: 15px;
}

input {
  height: 50px;
}

video {
  margin: 15px;
  height: 230px;
}

.btn {
  float: right;
}



