<div class="container-fluid text-center">
  <full-calendar (dateClick)="handleDateClick($event)"
                 [selectable]="true"
                 [plugins]="calendarPlugins"
                 [weekends]="true"
                 defaultView="dayGridMonth"
                 [events]="calendarEvents"
                 #calendar
  ></full-calendar>
</div>

<div class="col-md-2">
  <button type="button" class="btn btn-primary" (click)="showModal(modal)">Note</button>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 id="dialog-child-name" class="modal-title pull-left">Write your note</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ data }}</p>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary">Close</button>
  </div>
</ng-template>

<!--<div *ngIf="Data[] | async as data">-->
<!--  {{data}}-->
<!--</div>-->
